In [1]:
import pandas as pd

In [2]:
btc_hourly = pd.read_csv('Data_Coin_price/btc_hourly.csv')
eth_hourly = pd.read_csv('Data_Coin_price/eth_hourly.csv')
doge_hourly = pd.read_csv('Data_Coin_price/doge_hourly.csv')

In [3]:
btc_daily = pd.read_csv('Data_Coin_price/btc_daily.csv')
eth_daily = pd.read_csv('Data_Coin_price/eth_daily.csv')
doge_daily = pd.read_csv('Data_Coin_price/doge_daily.csv')

Manipulate daily data
- Transform to datetime format
- Rename the columns

In [4]:
btc_daily= btc_daily[(btc_daily['datetime']>='2021-01-01') & (btc_daily['datetime']<'2022-01-01')]
btc_daily['datetime'] = pd.to_datetime(btc_daily['datetime']).dt.date
btc_daily.rename(columns={"closePriceUsd": "BTCUSD_close", "highPriceUsd": "BTCUSD_high",
                         "lowPriceUsd": "BTCUSD_low", "openPriceUsd": "BTCUSD_open"}, inplace=True)
btc_daily.tail()

       datetime  BTCUSD_close   BTCUSD_high    BTCUSD_low   BTCUSD_open
726  2021-12-27  50640.418804  51953.625416  50499.468676  50818.733330
727  2021-12-28  47588.854777  50643.314095  47457.360125  50643.314095
728  2021-12-29  46444.710491  48101.584301  46313.454085  47625.850484
729  2021-12-30  47178.125843  47871.655884  46073.532732  46490.606049
730  2021-12-31  46306.446123  48472.527490  45858.990887  47146.103552

In [5]:
eth_daily= eth_daily[(eth_daily['datetime']>='2021-01-01') & (eth_daily['datetime']<'2022-01-01')]
eth_daily['datetime'] = pd.to_datetime(eth_daily['datetime']).dt.date
eth_daily.rename(columns={"closePriceUsd": "ETHUSD_close", "highPriceUsd": "ETHUSD_high",
                         "lowPriceUsd": "ETHUSD_low", "openPriceUsd": "ETHUSD_open"}, inplace=True)
eth_daily.tail()

       datetime  ETHUSD_close  ETHUSD_high   ETHUSD_low  ETHUSD_open
726  2021-12-27   4037.547692  4125.163765  4033.737900  4065.761386
727  2021-12-28   3800.893085  4032.175564  3774.365244  4027.251053
728  2021-12-29   3628.531671  3827.812840  3623.259365  3801.717846
729  2021-12-30   3713.852163  3767.559870  3595.204883  3632.219817
730  2021-12-31   3682.632905  3806.884256  3636.869897  3710.766463

In [6]:
doge_daily= doge_daily[(doge_daily['datetime']>='2021-01-01') & (doge_daily['datetime']<'2022-01-01')]
doge_daily['datetime'] = pd.to_datetime(doge_daily['datetime']).dt.date
doge_daily.rename(columns={"closePriceUsd": "DOGEUSD_close", "highPriceUsd": "DOGEUSD_high",
                         "lowPriceUsd": "DOGEUSD_low", "openPriceUsd": "DOGEUSD_open"}, inplace=True)
doge_daily.head()

       datetime  DOGEUSD_close  DOGEUSD_high  DOGEUSD_low  DOGEUSD_open
366  2021-01-01       0.005685      0.005685     0.004616      0.004678
367  2021-01-02       0.010615      0.013288     0.005599      0.005694
368  2021-01-03       0.009771      0.013750     0.009415      0.010524
369  2021-01-04       0.009767      0.011339     0.007911      0.009840
370  2021-01-05       0.009920      0.010203     0.008976      0.009767

In [7]:
#Combine daily data
daily_prices = btc_daily.merge(eth_daily, on='datetime').merge(doge_daily, on='datetime')

In [8]:
daily_prices = daily_prices.set_index('datetime')

In [9]:
daily_prices.to_csv('Coin_price_cleaned_daily.csv')

In [10]:
daily_prices

,BTCUSD_close,BTCUSD_high,BTCUSD_low,BTCUSD_open,ETHUSD_close,ETHUSD_high,ETHUSD_low,ETHUSD_open,DOGEUSD_close,DOGEUSD_high,DOGEUSD_low,DOGEUSD_open
datetime,,,,,,,,,,,,
2021-01-01,29374.151889,29594.351589,28816.444067,28994.008916,730.367569,748.881631,719.792258,737.708378,0.005685,0.005685,0.004616,0.004678
2021-01-02,32127.267939,33155.118819,29115.168570,29376.455834,774.534968,786.752141,719.601248,730.402673,0.010615,0.013288,0.005599,0.005694
2021-01-03,32782.024466,34596.054761,32055.917694,32129.407356,975.507673,1006.528434,771.561645,774.511865,0.009771,0.013750,0.009415,0.010524
2021-01-04,31971.913522,33432.592144,28722.755271,32895.563118,1040.233048,1152.827664,912.305338,982.001164,0.009767,0.011339,0.007911,0.009840
2021-01-05,33992.429344,34437.590592,30261.626195,32177.467131,1100.006099,1123.100290,988.147971,1060.279090,0.009920,0.010203,0.008976,0.009767
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,50640.418804,51953.625416,50499.468676,50818.733330,4037.547692,4125.163765,4033.737900,4065.761386,0.187705,0.192923,0.187262,0.190188
2021-12-28,47588.854777,50643.314095,47457.360125,50643.314095,3800.893085,4032.175564,3774.365244,4027.251053,0.174117,0.187425,0.173128,0.187425
2021-12-29,46444.710491,48101.584301,46313.454085,47625.850484,3628.531671,3827.812840,3623.259365,3801.717846,0.167765,0.177339,0.167072,0.174603
2021-12-30,47178.125843,47871.655884,46073.532732,46490.606049,3713.852163,3767.559870,3595.204883,3632.219817,0.171313,0.175608,0.165381,0.168137
2021-12-31,46306.446123,48472.527490,45858.990887,47146.103552,3682.632905,3806.884256,3636.869897,3710.766463,0.170496,0.175294,0.167307,0.171112

Manipulate hourly data
- Transform to datetime format and remove timezone information
- Rename the columns

In [11]:
btc_hourly['datetime'] = pd.to_datetime(btc_hourly['datetime']).dt.tz_localize(None)
btc_hourly.rename(columns={"closePriceUsd": "BTCUSD_close", "highPriceUsd": "BTCUSD_high",
                         "lowPriceUsd": "BTCUSD_low", "openPriceUsd": "BTCUSD_open"}, inplace=True)
btc_hourly= btc_hourly[(btc_hourly['datetime']>='2021-01-01') & (btc_hourly['datetime']<'2022-01-01 00:00:00')]
btc_hourly.head()

,datetime,BTCUSD_close,BTCUSD_high,BTCUSD_low,BTCUSD_open
8772,2021-01-01 00:00:00,29032.311979,29032.311979,28816.444067,28994.008916
8773,2021-01-01 01:00:00,29411.566629,29458.738063,29027.828992,29027.828992
8774,2021-01-01 02:00:00,29228.789435,29422.381704,29228.302195,29422.381704
8775,2021-01-01 03:00:00,29330.333707,29335.010138,29230.391162,29253.774398
8776,2021-01-01 04:00:00,29252.201511,29391.267684,29178.973290,29336.440370

In [12]:
eth_hourly['datetime'] = pd.to_datetime(eth_hourly['datetime']).dt.tz_localize(None)
eth_hourly.rename(columns={"closePriceUsd": "ETHUSD_close", "highPriceUsd": "ETHUSD_high",
                         "lowPriceUsd": "ETHUSD_low", "openPriceUsd": "ETHUSD_open"}, inplace=True)
eth_hourly= eth_hourly[(eth_hourly['datetime']>='2021-01-01') & (eth_hourly['datetime']<'2022-01-01 00:00:00')]
eth_hourly.head()

                datetime  ETHUSD_close  ETHUSD_high  ETHUSD_low  ETHUSD_open
8773 2021-01-01 00:00:00    735.934147   738.475746  731.157590   737.708378
8774 2021-01-01 01:00:00    747.858514   748.881631  735.359774   735.793215
8775 2021-01-01 02:00:00    745.077313   748.634324  744.319293   748.634324
8776 2021-01-01 03:00:00    746.319937   747.387104  745.182213   745.182213
8777 2021-01-01 04:00:00    743.210700   747.090390  741.786171   745.901734

In [13]:
doge_hourly['datetime'] = pd.to_datetime(doge_hourly['datetime']).dt.tz_localize(None)
doge_hourly.rename(columns={"closePriceUsd": "DOGEUSD_close", "highPriceUsd": "DOGEUSD_high",
                         "lowPriceUsd": "DOGEUSD_low", "openPriceUsd": "DOGEUSD_open"}, inplace=True)
doge_hourly= doge_hourly[(doge_hourly['datetime']>='2021-01-01') & (doge_hourly['datetime']<'2022-01-01 00:00:00')]
doge_hourly.head()

,datetime,DOGEUSD_close,DOGEUSD_high,DOGEUSD_low,DOGEUSD_open
8771,2021-01-01 00:00:00,0.004693,0.004693,0.004616,0.004678
8772,2021-01-01 01:00:00,0.004739,0.004751,0.004690,0.004690
8773,2021-01-01 02:00:00,0.004750,0.004752,0.004730,0.004732
8774,2021-01-01 03:00:00,0.004978,0.004978,0.004751,0.004752
8775,2021-01-01 04:00:00,0.004927,0.004986,0.004821,0.004977

In [14]:
#Combine hourly data, it has missing data
hourly_prices = btc_hourly.merge(eth_hourly, on='datetime').merge(doge_hourly, on='datetime')
hourly_prices = hourly_prices.set_index('datetime')

In [15]:
hourly_prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8742 entries, 2021-01-01 00:00:00 to 2021-12-31 23:00:00
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BTCUSD_close   8742 non-null   float64
 1   BTCUSD_high    8742 non-null   float64
 2   BTCUSD_low     8742 non-null   float64
 3   BTCUSD_open    8742 non-null   float64
 4   ETHUSD_close   8742 non-null   float64
 5   ETHUSD_high    8742 non-null   float64
 6   ETHUSD_low     8742 non-null   float64
 7   ETHUSD_open    8742 non-null   float64
 8   DOGEUSD_close  8742 non-null   float64
 9   DOGEUSD_high   8742 non-null   float64
 10  DOGEUSD_low    8742 non-null   float64
 11  DOGEUSD_open   8742 non-null   float64
dtypes: float64(12)
memory usage: 887.9 KB

In [16]:
hourly_prices.to_csv('Coin_price_cleaned_hourly.csv')

Check missing data

In [17]:
x = doge_hourly.groupby('datetime').count().reset_index()

In [18]:
x['day'] = pd.to_datetime(x['datetime']).dt.date

In [19]:
y = x.groupby('day').count()
y

            datetime  DOGEUSD_close  DOGEUSD_high  DOGEUSD_low  DOGEUSD_open
day
2021-01-01        24             24            24           24            24
2021-01-02        24             24            24           24            24
2021-01-03        24             24            24           24            24
2021-01-04        24             24            24           24            24
2021-01-05        24             24            24           24            24
...              ...            ...           ...          ...           ...
2021-12-27        24             24            24           24            24
2021-12-28        24             24            24           24            24
2021-12-29        24             24            24           24            24
2021-12-30        24             24            24           24            24
2021-12-31        24             24            24           24            24

[365 rows x 5 columns]

In [20]:
y[y['datetime']<24]

            datetime  DOGEUSD_close  DOGEUSD_high  DOGEUSD_low  DOGEUSD_open
day
2021-01-16        22             22            22           22            22
2021-02-01        17             17            17           17            17
2021-02-02        18             18            18           18            18